{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
