---
import { Footer } from "../components/footer";
import { Header } from "../components/header";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead title="404 not found" />
  </head>

  <body class="animate-glitch bg-background text-foreground font-sans">
    <div class="flex min-h-screen flex-col justify-between">
      <Nav />

      <main>
        <Header title="404 not found" />

        <h2 class="text-center text-xl font-semibold">
          Couldn't find what your looking for. You should consider{" "}
          <a class="text-primary hover:underline" href="/"> going /</a>
        </h2>
      </main>

      <Footer />
    </div>
  </body>
</html>
